* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}
html{
  overflow-x: hidden;
}
 body {
  font-family: "Fira Code", sans-serif;
  background-color: #282c33;
  color: white;
  overflow-x: hidden;
}
button,
input,
textarea,
select {
  font-family: "Fira Code", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
  font-family: "Fira Code", sans-serif;
}
ul {
  list-style: none;
}
